@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500&display=swap');

#dashboard-content{
    display: block;
    position: fixed;
    background-color: #c0392b;
    height: 100%;
    width: 100%;
}

#content {
    background-color: #fff;
    text-align: center;
    height: 90%;
}

#content-view{
    height: 100%;
    width: 100%;
}

h1{
    font-family: 'Oswald', sans-serif;
    margin-top: 0.5em;
}