@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500&display=swap');

#login-content {
    display: flex;
    background-color: #c0392b;
    min-height: 100%;
    min-height: 100vh;    
    align-items: center;
}

#content {
    background-color: #fff;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

#content-view {
    width: 40%;
    float: left;
}

#img-content {
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    background-image: url('../images/frontpage.jpg');
    background-size: cover;
}

h4{
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

.form-group{
    display: inline-block;
    width: 60%;
}

.form-control{  
    border: none;  
    border-radius: 0;
    border-bottom: 2px solid #d9d9d9;
    transition: 0.5s;
}

.form-control::placeholder{
    color: #d9d9d9;
}

.form-control:hover{
    border-bottom: 2px solid #e74c3c;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
}

#btn-login{    
    background-color: #c0392b;
    margin-top: 1.5em;
    margin-bottom: 2em;
    color: #fff;
    border-radius: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@media (min-width: 1600px){
    #btn-login{
        margin-bottom: 3.5em;
    }
}

@media (max-width: 767px){
    #content-view {
        width: 100%;
    }
    
    #img-content {
        display: none;
    }
}